<h1>Archive</h1>

<% var year = new Date().getFullYear() %>

<ul class="archive">
	
</ul>

<ul class="archive">


	<li class="archive__year archive__expendable">
		<span>2016</span>
		<ul>
			<li class="archive__month archive__expendable">
				<span>August</span>
				<ul>
					<li class="archive__entry"><a href="#">Headline</a></li>
					<li class="archive__entry"><a href="#">Blog post</a></li>
				</ul>
			</li>
			<li class="archive__month archive__expendable archive__expendable_collapsed">
				<span>July</span>
				<ul>
					<li class="archive__entry"><a href="#">Headline</a></li>
					<li class="archive__entry"><a href="#">Blog post</a></li>
				</ul>
			</li>
			<li class="archive__month archive__expendable archive__expendable_collapsed">
				<span>June</span>
				<ul>
					<li class="archive__entry"><a href="#">Headline</a></li>
					<li class="archive__entry"><a href="#">Blog post</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="archive__year archive__expendable archive__expendable_collapsed">
		<span>2015</span>
		<ul>
			<li class="archive__month archive__expendable">
				<span>August</span>
				<ul>
					<li class="archive__entry"><a href="#">Headline</a></li>
					<li class="archive__entry"><a href="#">Blog post</a></li>
				</ul>
			</li>
			<li class="archive__month archive__expendable"><span>July</span></li>
			<li class="archive__month archive__expendable"><span>June</span></li>
		</ul>
	</li>
</ul>
