<footer class="footer">
	<div class="footer-content">
		<% theme.widgets.forEach(function(widget){ %>
	      <%- partial('_widgets/' + widget) %>
	    <% }) %>

		<div class="footer-credit">
			<span>© <%- new Date().getFullYear() %> <%- config.author %> | Powered by <a href="https://hexo.io/">Hexo</a> | Theme <a href="https://github.com/HoverBaum/meilidu-hexo">MeiliDu</a></span>
		</div>

	</div>


</footer>
