<h1><%- page.title %></h1>

<ul class="archive">
	<% for(let key in site.tags.data) { %>
		<% let tag = site.tags.data[key].name %>
		<li class="archive__year archive__expendable">
			<span><%- tag %></span>
			<ul>
			<% site.posts.forEach(post => { %>
				<% for(let key in post.tags.data) { %>
					<% let postTag = post.tags.data[key].name %>
					<% if(postTag === tag) { %>
						<li class="archive__entry"><a href="<%- url_for(post.path) %>"><%- post.title %></a></li>
					<% } %>

				<% } %>
			<% }) %>
			</ul>
		</li>
	<% } %>
</ul>

<script>
	const expandables = document.querySelectorAll('.archive__expendable')
	for(let i = 0; i < expandables.length; i++) {
		expandables[i].addEventListener('click', (e) => {
			e.stopPropagation()
			expandables[i].classList.toggle('archive__expendable_collapsed')
		})
	}
</script>
