/*
  Calculate modular scalled font-sizes for headlines in Stylus
  "Modular scale refers to a series of harmonious numbers
  that relate to one another in a meaningful way."
  Inspired after reading http://typographyhandbook.com/#font-sizing
  Build after http://www.modularscale.com/

  https://gist.github.com/HoverBaum/889463ed0a57014b68302645b44cd192
 */


baseFontSize = 1em
fontRatio = 1.25

html
	font-size: baseFontSize

fontSizeCalc(base, ratio, count)
	calcSize = base
	count = 6 - count
	for $i in 1..count
		calcSize = calcSize * ratio
	calcSize

for size in 1 2 3 4 5
	h{size}
		font-size: fontSizeCalc(baseFontSize, fontRatio, size)

p
	font-size: baseFontSize
