mainColor = #0BA6D7

// Gerys build after
// https://www.smashingmagazine.com/2016/04/web-developer-guide-color/#creating-harmonious-grays
greyishBlue = #2a4a54

textColor = #33474d
highlightColor = #3c4447
headerColor = #f9fafa
backgroundColor = #f9fafa

//The standard width for content in the middle.
contentWidth = 50rem

fontsSans = "Noto Sans", sans-serif
fonstSerif = "Noto Serif", serif


// Breakpoints copied from foundation
// http://foundation.zurb.com/sites/docs/v/5.5.3/media-queries.html
// - 641
breakMobile = 40em
// 641 - 1024
breakMediumStart = 40.063em
breakMediumEnd = 64em
// 1025 - 1440
breakLargeStart = 64.063em
breakLargeEnd = 90em
// 1441 - 1921
breakHugeStart = 90.063em
breakHugeEnd = 120em
// 1921 -
breakEnourmous = 120.063em


// Helpers mixins and the likes
transform(n)
	-webkit-transform: n
	-moz-transform: n
	-o-transform: n
	-ms-transform: n
	transform: n
