@import "variables"

article
	contentWidth()
	text-align: justify
	margin: 0 2rem
	margin-bottom: 2rem
	position: relative

@media only screen and (max-width: breakMobile)
	article
		width: 90%
		h1
			overflow: hidden // This is for when someone just puts a long url as the title....
		p
			a
				word-break: normal
	p, blockquote, figure
		a
			word-break: break-all

article h1
	font-family: fontsSerif

h1,
h2,
strong
	color: highlightColor

h1 a,h2 a,h3 a,h4 a,h5 a {
	font-style: normal
}

h1,h2,h3,h4,h5
	margin-top: 1em
	margin-bottom: 1rem
	text-align: left

article a
	link-underline(backgroundColor, textColor, textColor)

article:hover .article__read-more-link
	link-underline(backgroundColor, mainColor, mainColor)

@media only screen and (max-width: breakMediumEnd)
	article .article__read-more-link
		link-underline(backgroundColor, mainColor, mainColor)

article h1 a:hover
	link-underline(backgroundColor, highlightColor, highlightColor)

article h1 a
	background: inherit

ul, ol
	margin: 0.5rem 0

li
	padding: 0.2rem 0

// Figures

.figure
	margin: 2rem 0

.figure__caption
	text-align: center
	font-size: 0.8em
	margin-top: 0.2em

img
	max-width: 100%
	margin: 0 auto
	display: block
	border-radius: 0.2rem

.highlight
	margin: 0
	margin-bottom: 1rem

// Blockquotes

blockquote
	color: highlightColor
	border-left: 0.7rem solid greyishBlue
	margin: 2rem 1rem
	padding: 0.5rem 1rem
	quotes: "\201C""\201D""\2018""\2019"

blockquote:before
	color: greyishBlue
	content: "\201C" /*Unicode for Left Double Quote*/
	font-size: 4em
	line-height: 0.1em
	margin-right: 0.25em
	vertical-align: -0.4em

blockquote p
	display: inline
	font-family: "Noto Serif", serif

blockquote cite
	&:before
		content: "\2014 \2009"

article:hover blockquote a
	color: currentColor

article blockquote a:hover
	link-underline(backgroundColor, mainColor, mainColor)

// Tables

cellPadding = 0.8rem

table
	width: 100%
	border-spacing: 0
	th
		border-bottom: 1px solid highlightColor
		padding: cellPadding
	td
		padding: cellPadding
		border-bottom: 1px solid lighten(highlightColor, 80%)
	tbody
		tr
			&:hover
				background-color: lighten(mainColor, 90%)

// Article infos

.article__tag-link
	&:before
		content: '#'

.article__infos
	font-size: 0.7rem
	position: absolute
	left: -8.5rem
	width: 8rem
	text-align: right

.article__infos a
	text-shadow: none
	background: inherit

@media only screen and (max-width: breakMediumEnd)
	.article__infos
		position: relative
		left: 0
		text-align: left
		width: auto

	.article__infos br
		display: none

	.article__infos span
		margin-right: 1em

.post__info span
	margin-right: 1em

//TODO improve this
iframe
	width: 100%
	height: (baseContentWidth * 9 / 16)

//pullquotes

.pullquote
	width: 45%
	margin: 0
	&.left
		margin-left: 0.5em
		margin-right: 1em
		float: left
	&.right
		margin-left: 1em
		margin-right: 0.5em
		float: right

// go back

article .different-posts
	margin-top: 4rem
