@import "variables"
@import "underline"

footerBackgroundColor = textColor
footerTextColor = backgroundColor

.footer
	background-color: footerBackgroundColor
	color: footerTextColor
	padding-top: 2rem
	padding-bottom: 1rem
	display: flex
	flex-direction: row
	justify-content: center

.footer p
	margin: 0
	max-width: 100%

.footer-content
	display: flex
	flex-direction: row
	justify-content: flex-start
	flex-wrap: wrap
	width: contentWidth

.footer__element
	padding: 1rem
	width: (baseContentWidth / 4)
	box-sizing: border-box
	h5
		margin-top: 0

@media only screen and (max-width: breakMobile)
	.footer__element
		width: 100%
		font-size: 1.2rem

@media only screen and (min-width: breakMediumStart) and (max-width: breakMediumEnd)
	.footer__element
		width: 50%
		font-size: 1.2rem

.footer-links
	margin: 0
	padding: 0

.footer-links__link
	list-style-type: none

.footer a
	link-underline(footerBackgroundColor, footerTextColor, footerTextColor)
	&:hover
		link-underline(footerBackgroundColor, mainColor, mainColor)

.footer-credit
	margin-top: 2rem
	width: 100%
	display: block
	text-align: center
