<div class="footer__element">
	<ul class="footer-links">
		<li class="footer-links__link"><a href="/archives">Archive</a></li>
		<% if (theme.rss){ %>
		  <li class="footer-links__link"><a href="<%- theme.rss %>">RSS</a></li>
	    <% } %>
		<li class="footer-links__link"><a href="/about">about page</a></a></li>
		<li class="footer-links__link"><a href="/tags">Tags</a></a></li>
	</ul>
</div>
