<div class="footer__element">
	<ul class="footer-links">
		<li class="footer-links__link"><a href="/archives">Archive</a></li>
		<li class="footer-links__link"><a href="#">The author</a></li>
		<li class="footer-links__link"><a href="#">more links</a></a></li>
	</ul>
</div>
